{%- comment -%}
  Parameters:
  - product - product object
  - load_eagerly - boolean - indicating whether the first image on the card should load eagerly
  - image_size - number - target size for image, defaults to 330
{%- endcomment -%}

{% liquid
  assign first_variant = product.variants[0]
  assign compare_at_price = first_variant.compare_at_price
  assign price = first_variant.price
  assign color_options = product.options_by_name.Color.values
  assign colors = shop.metaobjects['shopify--color-pattern']
  if compare_at_price > price
    assign is_on_sale = true
  endif
  assign image_size = image_size | default: 330
%}

<product-card class="@container block px-22 py-27 relative group">
  <div class="border border-solid border-background-grey overflow-hidden p-20 relative rounded-[10px]">
    {% comment %}
      Only adding translate effect to show secondary image when there is an unhidden secondary image and:
      - card is hovered
      - the product title link has focus-visible (for keyboard users)
    {% endcomment %}
    <div class="flex transition aspect-11/12 has-[[data-secondary]:not(.hidden)]:group-hover:translate-x-[-100%] has-[[data-secondary]:not(.hidden)]:group-has-[a:focus-visible]:translate-x-[-100%]">
      {%- for variant in product.variants -%}
        {%- liquid
          assign loading = 'lazy'
          assign preload = false

          if load_eagerly == true and forloop.first
            assign loading = 'eager'
            if section.index0 == 0
              assign preload = true
            endif
          endif

          assign class = 'object-contain w-full'
          if forloop.index0 > 0
            assign class = class | append: ' hidden'
            assign loading = 'lazy'
          endif

          assign width = image_size | times: 2
          assign sizes = image_size | append: 'px'
          assign widths = image_size | append: ', ' | append: width

          assign secondary_image = variant.metafields.custom.secondary_image
        -%}

        {{-
          variant.image
          | default: product.featured_image
          | image_url: width: width
          | image_tag:
            widths: widths,
            sizes: sizes,
            class: class,
            loading: loading,
            preload: preload,
            data-variant-id: variant.id
        -}}

        {% if secondary_image %}
          {{-
            secondary_image
            | image_url: width: width
            | image_tag:
              widths: widths,
              sizes: sizes,
              class: class,
              loading: 'lazy',
              data-variant-id: variant.id,
              data-secondary: true
          -}}
        {% endif %}
      {%- endfor -%}
    </div>
    {%- if is_on_sale -%}
      <div class="absolute top-5 left-5 @xsm:top-20 @xsm:left-20  border border-solid border-red font-secondary py-6 px-13 rounded-[26px] text-red">
        {{ 'on_sale' | t }}
      </div>
    {%- endif -%}
  </div>

  <ul class="flex mt-15">
    {%- for variant in product.variants -%}
      {%- for option in variant.options -%}
        {%- if color_options contains option -%}
          {%- assign color_name = option -%}
          {%- assign color_hex = colors[option].color -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if color_name and color_hex -%}
        {%- comment -%} The button element is larger than the swatch to provide accessible target size {%- endcomment -%}
        <li>
          <button
            data-variant-switch
            aria-label="{{ 'swatch_label' | t: color_name: color_name }}"
            aria-pressed="{{ forloop.first }}"
            data-variant-id="{{ variant.id }}"
            data-variant-price="{{ variant.price | money }}"
            data-variant-compare-at-price="{{ variant.compare_at_price | money }}"
            class="block cursor-pointer w-27 h-24 [&[aria-pressed='true']>div]:outline-navy relative z-2"
          >
            <div
              class="outline outline-transparent outline-offset-1 pointer-events-none rounded-full w-20 h-20 transition"
              style="background-color: {{ color_hex }}"
            ></div>
          </button>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>

  <div class="mt-15 text-sm">{{ product.vendor }}</div>

  <a
    class="block mt-8 text-navy after:content=[''] after:absolute after:inset-0 after:z-1 after:cursor-pointer"
    href="{{ product.url }}"
  >
    {{- product.title -}}
  </a>
  <div class="mt-8 text-sm">
    <s data-compare-at-price-slot class="peer mr-8 {% unless is_on_sale  %}hidden{% endunless  %}">
      {{- compare_at_price | money -}}
    </s>
    <span data-price-slot class="peer-not-[.hidden]:text-red">
      {{ price | money }}
    </span>
  </div>
</product-card>
